<!--model AuctionOnline.Models.Category-->
@model System.Collections.Generic.IEnumerable<AuctionOnline.ViewComponents.NavbarViewComponent>
<nav class="navbar bottom-navbar-default" id="modeltheme-main-head">
    <div class="container">
        <div class="row row-0">
            <!-- NAV MENU -->
            <div id="navbar" class="navbar-collapse collapse col-md-10">
                <div class="bot_nav_cat_inner">
                    <div class="bot_nav_cat">
                        <button class="bot_cat_button">
                            <span class="cat_ico_block">Categories</span>
                        </button>
                        <ul class="bot_nav_cat_wrap">
                            @foreach (var cate in ViewBag.NavCategories)
                            {
                                @if (cate.Children != null)
                                {
                                    <li id="menu-item-5192" class="mega3menu menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5192">
                                        <a href="#">
                                            <i class="fa fa-desktop"></i>@cate.Name
                                        </a>
                                        <div class="cf-mega-menu sub-menu">
                                            <div class="vc_row wpb_row vc_row-fluid no-margin vc_custom_1528793566052 vc_row-has-fill">
                                                <!--foreach-->
                                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                                    <div class="vc_column-inner vc_custom_1566908578324">
                                                        <div class="wpb_wrapper">
                                                            <!--level 2
                                                            foreach (var cate2 in cate.Children)
                                                            {
                                                                -->
                                                            @if ((cate.Children).Children != null)
                                                            {
                                                                <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp">
                                                                    <div class="wpb_wrapper">
                                                                        <p style="font-weight: bold; font-size: 14px; color: #484848;">@(cate.Children).Children.Name</p>
                                                                    </div>
                                                                </div>
                                                                <div class="vc_empty_space" style="height: 5px">
                                                                    <span class="vc_empty_space_inner"></span>
                                                                </div>
                                                                <div class="wpb_text_column wpb_content_element  menu-cat">
                                                                    <div class="wpb_wrapper">
                                                                        <!--level 3-->
                                                                        <p>
                                                                            <a asp-controller="item" asp-action="listedbycategory" asp-route-id="@(cate.Children)Children.Id">@(cate.Children).Children.Name</a>
                                                                            <br />
                                                                            <!--................-->
                                                                        </p>
                                                                        <!--endlevel 3-->
                                                                    </div>
                                                                </div>
                                                                <div class="vc_empty_space" style="height: 20px">
                                                                    <span class="vc_empty_space_inner"></span>
                                                                </div>
                                                            }
                                                            <!--}
                                                            endlevel 2-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li id="menu-item-5192" class="mega3menu menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-5192">
                                        <a href="">
                                            <i class="fa fa-desktop"></i>@cate.Name
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="bot_nav_wrap">
                    <ul class="menu nav navbar-nav pull-left nav-effect nav-menu">
                        <li id="menu-item-6467" class="mega_menu menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-6467">
                            <a asp-controller="home" asp-action="index">Home</a>
                            <!--
                            <div class="cf-mega-menu sub-menu">
                                <div class="vc_row wpb_row vc_row-fluid no-margin vc_custom_1528793566052 vc_row-has-fill">
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  menu-cat">
                                                    <div class="wpb_wrapper">
                                                        <p>
                                                            <a href="">Art Auctions</a><br />
                                                            <a href="">Antiques &amp; Collectibles</a><br />
                                                            <a href="">Automotive Auctions</a><br />
                                                            <a href="">Books &amp; Comics</a>
                                                        </p>

                                                    </div>
                                                </div>
                                                <div class="vc_empty_space" style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner vc_custom_1568113992630">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  menu-cat">
                                                    <div class="wpb_wrapper">
                                                        <p>
                                                            <a href="">Coins Auctions</a><br />
                                                            <a href="">Electronics Auctions</a><br />
                                                            <a href="">Fundraising Auctions</a><br />
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="vc_empty_space" style="height: 20px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                        <div class="vc_column-inner vc_custom_1568113998351">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  menu-cat">
                                                    <div class="wpb_wrapper">
                                                        <p>
                                                            <a href="">Real Estate Auctions</a><br />
                                                            <a href="">Shop (No Auctions)</a><br />
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </li>
                        <li id="menu-item-5308" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5308">
                            <a asp-controller="user" asp-action="list">Vendors</a>
                        </li>
                        <li id="menu-item-4992" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4992">
                            <a asp-controller="home" asp-action="details">About</a>
                        </li>
                        <li id="menu-item-4630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4630">
                            <a asp-controller="home" asp-action="contact">Contact</a>
                        </li>
                        <li id="menu-item-4630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4630">
                            <a asp-controller="item" asp-action="add">SELL AN ITEM</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 my-account-navbar">
                <ul>
                    <!-- logged out -->
                    <li id="nav-menu-login" class="login">
                        <a href="#" data-modal="modal-log-in" class="modeltheme-trigger">
                            Sign In
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

