@using Microsoft.AspNetCore.Http;
@{
    var user = ViewBag.User;
}
<nav class="navbar navbar-default navbar-fixed-top navbar-md">
    <div id="navbar-container" class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="margin-top:10px !important" class="navbar-toggle collapsed">

                <i class="fa fa-angle-down"></i>
            </button>
            <button type="button" style="display:block;margin-left:10px !important;margin-right:15px;margin-top:10px !important;" onclick="javascript:sideBarToggle()" class="navbar-toggle pull-left">
                <div id="hamburger-close" style="display:none;position:relative">
                    <a class="close"></a>
                </div>
                <div id="hamburger-hamburger">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </button>
            <a href="/toan-quoc" class="navbar-brand">
                <img src="base/view/images/logo-white-256.png" width="48" align="left" style="vertical-align:middle;margin-top:-10px;margin-right:10px;">
                <span style="color:#333;line-height:30px">Siêu thị nội thất</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <div style="padding:15px" class="navbar-left hidden-sm">
                <a href="tel:0913123030" style="font-size:20px">
                    SUPPORT:
                    <span style="color:#CF0F19">0969.275.695</span>
                </a>
            </div>

            <ul style="padding-top:5px" class="nav navbar-nav navbar-right">
                @if ((@Context.Session.GetString("username") != null))
                {
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-in"></i>
                            Welcome
                            <span style="color:blue;font-weight:bold">@Context.Session.GetString("username")</span>
                        </a>
                    </li>
                }
                <li>
                    @*<a id="pick-location" href="javascript:;" data-toggle="modal" data-target="#pick-location-modal">
                            <i class="fas fa-bell"></i>
                            <svg id="notificationLink" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" role="img" viewBox="0 0 448 512" class="svg-inline--fa fa-bell fa-w-14 fa-spin fa-lg">
                                <path fill="currentColor" d="M224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64zm215.39-149.71c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71z" class="">
                                </path>
                            </svg>
                            Notication
                        </a>*@

                    <span id="notification_count"></span>
                    <a href="#" id="notificationLink">Notifications</a>
                    <div id="notificationContainer">
                        <div id="notificationTitle">Notifications</div>
                        <div id="notificationsBody" class="notifications">
                            <ul style="list-style-type:none;margin-block-start:-20px;" id="notificationBody"></ul>
                        </div>
                        <div id="notificationFooter"><a href="#">See All</a></div>
                    </div>

                </li>

                <li>
                    <a href="/user/action/login">
                        <i class="fa fa-sign-in"></i>
                        Add new item
                    </a>
                </li>

                <li>
                    @if (@Context.Session.GetString("username") == null)
                    {

                        @*<a asp-controller="item" asp-action="Add" asp-route-id="@user.Id" style="margin:7px 5px !important" class="hasbtn lean ta-center">*@
                        <a asp-controller="account" asp-action="login" style="margin:7px 5px !important" class="hasbtn lean ta-center">
                            <btn class="btn btn-success">
                                <i class="fa fa-pencil-square-o"></i>
                                Login
                            </btn>
                        </a>
                    }
                    else
                    {

                        <a asp-controller="account" asp-action="logout" style="margin:7px 5px !important" class="hasbtn lean ta-center">
                            <btn class="btn btn-success">
                                <i class="fa fa-pencil-square-o"></i>
                                Logout
                            </btn>
                        </a>
                    }

                </li>
            </ul>
        </div>
    </div>
</nav>

@*if (@Context.Session.GetString("username") == null)
    {

        <div class="col-md-2 my-account-navbar">
            <ul>
                <!-- logged out -->
                <li id="nav-menu-login" class="ibid-logoin">
                    <a href="#" data-modal="modal-log-in" class="modeltheme-trigger">
                        Sign In
                    </a>
                </li>
            </ul>
        </div>
    }
    else
    {
        <div class="col-md-2 my-account-navbar">
            <ul>
                <!-- logged out -->
                <li id="nav-menu-login" class="ibid-logoin">
                    <a asp-action="Logout" asp-controller="Account">
                        Log Out
                    </a>
                </li>
                <li id="nav-menu-login" class="ibid-logoin">
                    <h5 style="color:#2695ff">Welcome @Context.Session.GetString("username")</h5>
                </li>
            </ul>
        </div>
    }*@
