@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>List User</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-16">
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body">

                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>FullName</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Status</th>
                                <th>Isblocked</th>
                                <th>Created</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var account in ViewBag.Accounts)
                            {
                                <tr>
                                    <td>@account.Id</td>
                                    <td>@account.Fullname</td>
                                    <td>@account.Address</td>
                                    <td>@account.Email</td>
                                    <td>@account.Username</td>
                                    <td>@account.Password</td>
                                    <td>@(account.Status ? "active" : "unactive")</td>
                                    <td>@(account.IsBlocked ? "blocked" : "unblock")</td>
                                    <td>@account.CreatedAt.ToString("dd/MM/yyyy")</td>
                                    <td><a href="#">Blocked</a>|<a href="#">UnBlocked</a></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->