@model IEnumerable<AuctionOnline.ViewModels.CategoryVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @if (ViewBag.IsHome == true)
    {
        @await Component.InvokeAsync("Search")
        @await Component.InvokeAsync("Carousel")
    }

    <div class="spacer"></div>
    <div style="margin-bottom:10px" class="panel panel-default">
        <div class="topiclist panel-body">
            @foreach (var category in Model)
            {
                <h2 class="section-header">
                    <a>@category.Name</a>
                    <a asp-controller="Item" asp-action="ListedByCategory" asp-route-id="@category.Id" style="position:absolute;right:10px;text-align:right">See More &raquo;</a>
                </h2>
                <div class="clearfix"></div>
                @foreach (var ci in category.CategoryItems)
                {
                    <div class="topiclist-wrapper">

                        <div class="item grid col-md-5ths col-xs-6">
                            <div class="itemcontainer">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <div style="padding-left:15px" class="row">
                                        <a href="/tp-ho-chi-minh/ghe-aston-co-tay-110.html" class="thumb">
                                            <img src="~/images/items/@ci.Item.Photo">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3>
                                                <a href="/tp-ho-chi-minh/ghe-aston-co-tay-110.html" class="f-black">@ci.Item.Title</a>
                                            </h3>
                                            <!--.infoline
                                                                        if !$byUser
                                                                            //a.f-grey(href=URL_ROOT.'/user/'.$i->author->name)=i->author->name
                                                                            //&nbsp;
                                                                            span.f-grey=$i->up_date_h
                                                                        else
                                                                            span.f-grey=$i->up_date_h
                                            -->
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="col-sm-6 f-red text-right">

                                                <strong>@ci.Item.Price</strong>
                                                <div class="text-nowrap">

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <button asp-controller="Item" asp-action="Details" asp-route-id="@ci.Item.Id">Go Bid</button>
                                            </div>
                                            <div class="spacer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
                <div class="clearfix"></div>

                <div class="spacer"></div>
                <hr style="border-top: 1px solid #cf0f19;">
                <div class="spacer"></div>
                <div class="spacer"></div>

                <!--loop 2nd categories-->
                <a href="/toan-quoc/tag/B%C3%A0n%20m%E1%BA%B7t%20%C4%91%C3%A1">
                    <div class="col-sm-3 col-xs-6 adblock img-hover-zoom--zoom-n-rotate">
                        <div class="cont">
                            <img src="uploads/ad/zb23qvhvj0l6fr57.jpg">
                            <div class="title">BÀN MẶT ĐÁ</div>
                        </div>
                    </div>
                </a>
                <!-- end loop 2nd categories-->
                <div class="clearfix"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <hr style="border-top: 1px solid #cf0f19;">
                <div class="spacer"></div>
            }
            @*end foreach list*@

        </div>
    </div>
</div>