@model AuctionOnline.ViewModels.LayoutViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @if (ViewBag.IsHome == true)
    {
        @await Component.InvokeAsync("Search")
        @await Component.InvokeAsync("Carousel")
    }

    <div class="spacer"></div>
    <div style="margin-bottom:10px" class="panel panel-default">
        <div class="topiclist panel-body">
            @foreach (var category in Model.Categories.Where(c => c.ParentId == null).ToList())
            {
                <h2 class="section-header">
                    <a>@category.Name</a>
                    <a asp-controller="Item" asp-action="ListedByCategory" asp-route-id="@category.Id" style="position:absolute;right:10px;text-align:right">See More &raquo;</a>
                </h2>
                <div class="clearfix"></div>
                <div class="topiclist-wrapper">
                    @foreach (var ci in category.CategoryItems)
                    {
                        <div class="item grid col-md-5ths col-xs-6">
                            <div class="itemcontainer">
                                <div class="col-md-4 col-sm-3 col-xs-5">
                                    <div style="padding-left:15px" class="row">
                                        <a class="thumb">
                                            <img src="~/images/items/@ci.Item.Photo" style="width: 220px; height:220px">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-9 col-xs-7">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3>
                                                <a class="f-black">@ci.Item.Title</a>
                                            </h3>
                                        </div>
                                        <div class="col-sm-3">
                                            <a asp-controller="Item" asp-action="Detail" asp-route-id="@ci.Item.Id">
                                                <button type="button" class="btn btn-success">Go Bid Now</button>
                                            </a>
                                            <div class="spacer"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="clearfix"></div>
                <div class="spacer"></div>
                <hr style="border-top: 1px solid #cf0f19;">
                <div class="spacer"></div>
                <div class="spacer"></div>

                <!--loop 2nd categories-->
                @if (category.Children.Any())
                {
                    foreach (var cateChildren in category.Children)
                    {

                        <a asp-controller="Item" asp-action="ListedByCategory" asp-route-id="@cateChildren.Id">
                            <div class="col-sm-3 col-xs-6 adblock img-hover-zoom--zoom-n-rotate">
                                @*<div class="cont">
                                        <img src="uploads/ad/zb23qvhvj0l6fr57.jpg">
                                        <div class="title">@cateChildren.Name</div>
                                    </div>*@
                                <h1><span class="label label-primary">@cateChildren.Name</span></h1>
                            </div>
                        </a>
                    }
                    <div class="clearfix"></div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <hr style="border-top: 1px solid #cf0f19;">
                    <div class="spacer"></div>
                }


                <!-- end loop 2nd categories-->

            }
            @*end foreach list*@

            <!--.center.text-center!=pagestr-->

            <div style="line-height:35px" class="col-xs-12 text-center">
                <div class="row">
                    <a id="nextpage" href="" class="btn btn-default f-red">
                        <i style="margin-right:5px" class="fa fa-chevron-circle-left fa-lg"></i>
                        Sau
                    </a>
                    &nbsp;
                    <a id="nextpage" href="" class="btn btn-default f-red">
                        <i style="margin-right:5px" class="fa fa-chevron-circle-right fa-lg"></i>
                        Tiếp
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>