@model AuctionOnline.Models.Item;
@{
    var user = ViewBag.User;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <h3>New Item</h3>
    <form asp-controller="item" asp-action="add" method="post">
        <table >
            <tr>
                <td>User: @user.Fullname</td>
                <td><input type="hidden" asp-for="AccountItems" value="@user.Id"/></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" asp-for="Title" /></td>
            </tr>
            <tr>
                <td>Categories</td>
                <td>
                    <select type="text" asp-for="CategoryItems" multiple="multiple">
                        @foreach (var category in ViewBag.Category)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>Title</td>
                <td><input type="text" asp-for="Price" /></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" asp-for="Title" /></td>
            </tr>
            <tr>
                <td>Created Date</td> @DateTime.Now
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Add" id="add" /></td>
            </tr>

        </table>
    </form>
    <a asp-controller="category" asp-action="index">Back to Category View</a>
</body>
</html>
