@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
        <!-- Page content -->
        <div class="high-padding">
            <!-- Blog content -->
            <div class="container blog-posts">
                <div class="row">
                    <div class="col-md-3 sidebar-content">
                        <aside id="woocommerce_product_search-2" class="widget woocommerce widget_product_search">
                            <h1 class="widget-title">Search for auctions</h1>
                            <form role="search" method="get" class="woocommerce-product-search" action="https://ibid.modeltheme.com/">
                                <label class="screen-reader-text" for="woocommerce-product-search-field-0">Search for:</label>
                                <input type="search" id="woocommerce-product-search-field-0" class="search-field" placeholder="Search products&hellip;" value="" name="s" />
                                <button type="submit" value="Search">Search</button>
                                <input type="hidden" name="post_type" value="product" />
                            </form>
                        </aside>
                        <aside id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
                            <h1 class="widget-title">Filter by price</h1>
                            <form method="get" action="https://ibid.modeltheme.com/shop/">
                                <div class="price_slider_wrapper">
                                    <div class="price_slider" style="display:none;"></div>
                                    <div class="price_slider_amount" data-step="10">
                                        <input type="text" id="min_price" name="min_price" value="0" data-min="0" placeholder="Min price" />
                                        <input type="text" id="max_price" name="max_price" value="6000" data-max="6000" placeholder="Max price" />
                                        <button type="submit" class="button">Filter</button>
                                        <div class="price_label" style="display:none;">
                                            Price: <span class="from"></span> &mdash; <span class="to"></span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </form>

                        </aside>
                        <aside id="woocommerce_layered_nav-2" class="widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
                            <h1 class="widget-title">Color</h1>
                            <form method="get" action="https://ibid.modeltheme.com/shop/" class="woocommerce-widget-layered-nav-dropdown">
                                <select class="woocommerce-widget-layered-nav-dropdown dropdown_layered_nav_color" multiple="multiple">
                                    <option value="">Any Color</option>
                                    <option value="blue">Blue</option>
                                    <option value="dark">Dark</option>
                                    <option value="gray">Gray</option>
                                    <option value="green">Green</option>
                                    <option value="red">Red</option>
                                    <option value="white">White</option>
                                    <option value="yellow">Yellow</option>
                                </select>
                                <button class="woocommerce-widget-layered-nav-dropdown__submit" type="submit" value="Apply">Apply</button>
                                <input type="hidden" name="query_type_color" value="or" />
                                <input type="hidden" name="filter_color" value="" />
                            </form>
                        </aside>
                        <aside id="woocommerce_layered_nav-3" class="widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
                            <h1 class="widget-title">Condition</h1>
                            <form method="get" action="https://ibid.modeltheme.com/shop/" class="woocommerce-widget-layered-nav-dropdown">
                                <select class="woocommerce-widget-layered-nav-dropdown dropdown_layered_nav_condition" multiple="multiple">
                                    <option value="">Any Condition</option>
                                    <option value="new">New</option>
                                    <option value="used">Used</option>
                                </select>
                                <button class="woocommerce-widget-layered-nav-dropdown__submit" type="submit" value="Apply">Apply</button>
                                <input type="hidden" name="query_type_condition" value="or" />
                                <input type="hidden" name="filter_condition" value="" />
                            </form>
                        </aside>
                        <aside id="woocommerce_layered_nav-4" class="widget woocommerce widget_layered_nav woocommerce-widget-layered-nav">
                            <h1 class="widget-title">Size</h1>
                            <ul class="woocommerce-widget-layered-nav-list">
                                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                                    <a rel="nofollow" href="https://ibid.modeltheme.com/shop/?filter_size=large&#038;query_type_size=or">Large</a>
                                    <span class="count">(5)</span>
                                </li>
                                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                                    <a rel="nofollow" href="https://ibid.modeltheme.com/shop/?filter_size=medium&#038;query_type_size=or">Medium</a>
                                    <span class="count">(4)</span>
                                </li>
                                <li class="woocommerce-widget-layered-nav-list__item wc-layered-nav-term ">
                                    <a rel="nofollow" href="https://ibid.modeltheme.com/shop/?filter_size=small&#038;query_type_size=or">Small</a>
                                    <span class="count">(2)</span>
                                </li>
                            </ul>
                        </aside>
                        <aside id="woocommerce_product_tag_cloud-2" class="widget woocommerce widget_product_tag_cloud">
                            <h1 class="widget-title">Product tags</h1><div class="tagcloud">
                                <a href="https://ibid.modeltheme.com/product-tag/accessories/" class="tag-cloud-link tag-link-105 tag-link-position-1" style="font-size: 12.2pt;" aria-label="Accessories (3 products)">Accessories</a>
                                <a href="https://ibid.modeltheme.com/product-tag/black-friday/" class="tag-cloud-link tag-link-111 tag-link-position-2" style="font-size: 22pt;" aria-label="black friday (19 products)">black friday</a>
                                <a href="https://ibid.modeltheme.com/product-tag/brown/" class="tag-cloud-link tag-link-201 tag-link-position-3" style="font-size: 8pt;" aria-label="Brown (1 product)">Brown</a>
                                <a href="https://ibid.modeltheme.com/product-tag/gaming/" class="tag-cloud-link tag-link-109 tag-link-position-4" style="font-size: 10.52pt;" aria-label="Gaming (2 products)">Gaming</a>
                                <a href="https://ibid.modeltheme.com/product-tag/kids-toys/" class="tag-cloud-link tag-link-108 tag-link-position-5" style="font-size: 8pt;" aria-label="Kids Toys (1 product)">Kids Toys</a>
                                <a href="https://ibid.modeltheme.com/product-tag/laptop/" class="tag-cloud-link tag-link-103 tag-link-position-6" style="font-size: 8pt;" aria-label="Laptop (1 product)">Laptop</a>
                                <a href="https://ibid.modeltheme.com/product-tag/personal-care/" class="tag-cloud-link tag-link-106 tag-link-position-7" style="font-size: 10.52pt;" aria-label="Personal Care (2 products)">Personal Care</a>
                                <a href="https://ibid.modeltheme.com/product-tag/sales/" class="tag-cloud-link tag-link-112 tag-link-position-8" style="font-size: 21.72pt;" aria-label="sales (18 products)">sales</a>
                                <a href="https://ibid.modeltheme.com/product-tag/tv/" class="tag-cloud-link tag-link-104 tag-link-position-9" style="font-size: 8pt;" aria-label="TV (1 product)">TV</a>
                            </div>
                        </aside>
                    </div>
                    <div class="col-md-9 main-content">
                        <div class="ibid-shop-sort-group">
                            <div class="woocommerce-notices-wrapper"></div>
                            <p class="woocommerce-result-count">
                                Showing 1&ndash;9 of 25 results
                            </p>
                            <form class="woocommerce-ordering" method="get">
                                <select name="orderby" class="orderby" aria-label="Shop order">
                                    <option value="menu_order" selected='selected'>Default sorting</option>
                                    <option value="popularity">Sort by popularity</option>
                                    <option value="date">Sort by latest</option>
                                    <option value="price">Sort by price: low to high</option>
                                    <option value="price-desc">Sort by price: high to low</option>
                                    <option value="bid_asc">Sort by current bid: Low to high</option>
                                    <option value="bid_desc">Sort by current bid: High to low</option>
                                    <option value="auction_end">Sort auction by ending soonest</option>
                                    <option value="auction_started">Sort auction by recently started</option>
                                    <option value="auction_activity">Sort auction by most active</option>
                                </select>
                                <input type="hidden" name="paged" value="1" />
                            </form>
                        </div>

                        <div class="clearfix"></div>

                        <ul class="products columns-3">
                            @foreach (var item in ViewBag.Item)
                            {
                                <li class="col-md-4 first post-4452 product type-product status-publish has-post-thumbnail ">
                                    <div class="products-wrapper">
                                        <div class="thumbnail-and-details">
                                            <div class="overlay-container">
                                                <div class="thumbnail-overlay"></div>
                                                <div class="overlay-components">
                                                    <div class="component add-to-cart">
                                                    <a asp-controller="item" asp-action="details" asp-route-id="@item.Id" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction"  data-product_sku="" aria-label="Read more about “@item.Title”" rel="nofollow">
                                                        <i class="fa fa-eye"></i>
                                                        </a>
                                                        </div>
                                                    <div class="component wishlist">
                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4452">
                                                            <div class="yith-wcwl-add-button show" style="display:block">
                                                                <a href="/shop/?add_to_wishlist=4452" data-product-id="4452" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                    <i class="fa fa-heart-o"></i>
                                                                </a>
                                                                <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                                            </div>

                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>

                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                    <i class="fa fa-heart"></i>
                                                                </a>
                                                            </div>

                                                            <div style="clear:both"></div>
                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                        </div>

                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="component quick-view">
                                                    <a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4452">
                                                        <i class="fa fa-search"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="woo_catalog_media_images" title="@item.Title" asp-controller="item" asp-action="details" asp-route-id="@item.Id">
                                            <img width="300" height="300" src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-300x300.jpg 300w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-200x200.jpg 200w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-600x600.jpg 600w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-150x150.jpg 150w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-768x768.jpg 768w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-1024x1024.jpg 1024w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-350x350.jpg 350w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-110x110.jpg 110w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-400x400.jpg 400w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2-70x70.jpg 70w, https://ibid.modeltheme.com/wp-content/uploads/2018/09/electronic-cat2.jpg 1080w" sizes="(max-width: 300px) 100vw, 300px"><img class="woo_secondary_media_image" src="https://ibid.modeltheme.com/wp-content/uploads/2018/09/laptop-cat1-400x400.jpg" alt="@item.Title"></a>
                                        </div>

                                        <div class="woocommerce-title-metas">
                                            <h3 class="archive-product-title">
                                                <a asp-controller="item" asp-action="details" asp-route-id="@item.Id">
                                                    @item.Title
                                                </a>
                                            </h3>
                                            <div class="details-container">
                                                <div class="details-price-container details-item">
                                                    <div class="product-description" itemprop="description">
                                                        <p>@item.Description</p>
                                                    </div>Auction Ended
                                                    <div class="details-review-container details-item"></div>
                                                    <div class="bottom-components">
                                                        <div class="component add-to-cart">
                                                    <a asp-controller="item" asp-action="details" asp-route-id="@item.Id" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4452" data-product_sku="" aria-label="Read more about “@item.Title”" rel="nofollow">
                                                        <i class="fa fa-eye"></i>
                                                        </a>
                                                            </div>
                                                    <div class="component wishlist">
                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4452">
                                                                <div class="yith-wcwl-add-button show" style="display:block">


                                                                    <a href="/shop/?add_to_wishlist=4452" data-product-id="4452" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                        <i class="fa fa-heart-o"></i>
                                                                    </a>
                                                                    <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                                                </div>

                                                                <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                    <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                        <i class="fa fa-heart"></i>
                                                                    </a>
                                                                </div>

                                                                <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                    <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                        <i class="fa fa-heart"></i>
                                                                    </a>
                                                                </div>

                                                                <div style="clear:both"></div>
                                                                <div class="yith-wcwl-wishlistaddresponse"></div>

                                                            </div>

                                                            <div class="clear"></div>
                                                        </div>
                                                        <div class="component quick-view">
                                                        <a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4452">
                                                        <i class="fa fa-search"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bottom-components-list">
                                                <div class="component add-to-cart">
                                                <a asp-controller="item" asp-action="details" asp-route-id="@item.Id" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4452" data-product_sku="" aria-label="Read more about “Bluetooth Headphones”" rel="nofollow">
                                                    <i class="fa fa-eye"></i>
                                                    </a>
                                                    </div>
                                                <div class="component wishlist">
                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4452">
                                                        <div class="yith-wcwl-add-button show" style="display:block">
                                                            <a href="/shop/?add_to_wishlist=4452" data-product-id="4452" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                <i class="fa fa-heart-o"></i>
                                                            </a>
                                                            <img src="https://ibid.modeltheme.com/wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden">
                                                        </div>

                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                            <a href="https://ibid.modeltheme.com/wishlist/" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                            <a href="https://ibid.modeltheme.com/wishlist/" data-tooltip="Check Wishlist" class="button">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </div>

                                                        <div style="clear:both"></div>
                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                    </div>

                                                    <div class="clear"></div>
                                                </div>
                                                <div class="component quick-view">
                                                <a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="@item.Id">
                                                    <i class="fa fa-search"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                            <!--end foreach-->
                            <li class="clearfix hide-on-mobile"></li>
                        </ul>

                        <nav class="woocommerce-pagination">
                            <ul class='page-numbers'>
                                <li><span aria-current="page" class="page-numbers current">1</span></li>
                                <li><a class="page-numbers" href="https://ibid.modeltheme.com/shop/page/2/">2</a></li>
                                <li><a class="page-numbers" href="https://ibid.modeltheme.com/shop/page/3/">3</a></li>
                                <li><a class="next page-numbers" href="https://ibid.modeltheme.com/shop/page/2/">&rarr;</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>