@model AuctionOnline.ViewModels.LayoutViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Header (Page header) -->
<div class="card card-success">
    <div class="card-header">
        <h1 class="card-title">Details Category</h1>
    </div>
    <div class="card-body">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryVM.Name)
        </dt>
        <input class="form-control form-control-lg" type="text" value="@Html.DisplayFor(model => model.CategoryVM.Name)" readonly>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryVM.CreatedAt)
        </dt>
        <input class="form-control" type="text" value=" @Html.DisplayFor(model => model.CategoryVM.CreatedAt)" readonly>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryVM.Parent)
        </dt>
        <input class="form-control form-control-sm" type="text" value=" @Html.DisplayFor(model => model.CategoryVM.Parent.Name)" readonly>
    </div>
    <!-- /.card-body -->
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryVM.Id">Edit</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
