@model AuctionOnline.ViewModels.LayoutViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>List Category</h1>
            </div>
            <form method="post" asp-action="SearchCategory" asp-controller="Category">
                &nbsp;
                <input type="text" name="keyword" placeholder="Tìm Category" size="30" id="KeywordUsername">
                <button type="submit" class="btn btn-primary">
                    Search
                    <i class="fa fa-search"></i>
                </button>
            </form>

        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>CreatedAt</th>
                                <th>ParentId</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model.CategoriesVM)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelCategory => category.Id)</td>
                                    <td>@Html.DisplayFor(modelCategory => category.Name)</td>
                                    <td>@Html.DisplayFor(modelCategory => category.CreatedAt)</td>
                                    <td>@Html.DisplayFor(modelCategory => category.Parent.Name)</td>
                                    <td>
                                        <a asp-action="Create" asp-route-id="@category.Id">Create Children</a> |
                                        <a asp-action="Edit" asp-route-id="@category.Id">Edit</a> |
                                        <a asp-action="Detail" asp-route-id="@category.Id">Detail</a> |
                                        <a asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->