@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = ViewBag.User;
    var category = ViewBag.Category;
    var item= ViewBag.Item;
}

<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
        <!-- Page content -->
        <div class="high-padding">
            <!-- Blog content -->
            <div class="container blog-posts">
                <div class="row">
                    <div class="col-md-12 main-content">

                        <div class="woocommerce-notices-wrapper"></div>
                        <div id="product-4450" class="row post-4450 product type-product status-publish has-post-thumbnail product_cat-televisions product_cat-tesla product_tag-black-friday product_tag-sales first outofstock sold-individually shipping-taxable product-type-auction">
                            <div class="col-md-12 thumbnails-summary">
                                <div class="row">
                                    <div class="col-md-5 product-thumbnails">
                                        <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
                                            <figure class="woocommerce-product-gallery__wrapper">
                                                <div data-thumb="https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash-200x200.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image">
                                                <a href="../../wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash.jpg">
                                                    <img width="600" height="900" src="../../wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash-600x900.jpg" class="wp-post-image" alt="" title="jonathan-chng-cDUiVsPMxMk-unsplash" data-caption="" data-src="https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash.jpg" data-large_image="https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash.jpg" data-large_image_width="1280" data-large_image_height="1920" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash-600x900.jpg 600w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash-200x300.jpg 200w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash-768x1152.jpg 768w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash-683x1024.jpg 683w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash.jpg 1280w" sizes="(max-width: 600px) 100vw, 600px" />
                                                    </a>
                                                    </div>
                                                <div data-thumb="https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash-200x200.jpg" data-thumb-alt="" class="woocommerce-product-gallery__image">
                                                    <a href="../../wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash.jpg">
                                                        <img width="200" height="200" src="../../wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash-200x200.jpg" class="" alt="" title="tahsin-cebel-Dwdg8h3yz8g-unsplash" data-caption="" data-src="https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash.jpg" data-large_image="https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash.jpg" data-large_image_width="1280" data-large_image_height="1920" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash-200x200.jpg 200w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash-150x150.jpg 150w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash-350x350.jpg 350w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash-110x110.jpg 110w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash-400x400.jpg 400w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash-70x70.jpg 70w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/tahsin-cebel-Dwdg8h3yz8g-unsplash-300x300.jpg 300w" sizes="(max-width: 200px) 100vw, 200px" />
                                                                                     </a>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>

                                    <div class="summary entry-summary col-md-7">

                                        <h1 itemprop="name" class="product_title entry-title">@item.Name</h1>
                                        <div class="product-description" itemprop="description">
                                            <p>@item.Description</p>
                                        </div><p class="price"><span class="sold-for auction">Sold for</span>: <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>@item.Price</span></p>

                                        <p class="auction-condition">Item condition:<span class="curent-bid"> New</span></p>


                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4450">
                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                <a href="indexfc10.html?add_to_wishlist=4450" data-product-id="4450" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                    <i class="fa fa-heart-o"></i>
                                                </a>
                                                <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                            </div>

                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </div>

                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                    <i class="fa fa-heart"></i>
                                                </a>
                                            </div>

                                            <div style="clear:both"></div>
                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                        </div>

                                        <div class="clear"></div>
                                    <div class="wishlist-container">
                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4450">
                                                <div class="yith-wcwl-add-button show" style="display:block">


                                                    <a href="indexfc10.html?add_to_wishlist=4450" data-product-id="4450" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                    <img src="../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                </div>

                                                <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                    <a href="../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </div>

                                                <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                    <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                        <i class="fa fa-heart"></i>
                                                    </a>
                                                </div>

                                                <div style="clear:both"></div>
                                                <div class="yith-wcwl-wishlistaddresponse"></div>

                                            </div>

                                            <div class="clear"></div>
                                        </div><div class="product_meta">



                                            <span class="sku_wrapper">SKU: <span class="sku">BF015</span></span>


                                            <span class="posted_in">Categories: <a href="../../product-category/tesla/televisions/index.html" rel="tag">Televisions</a>, <a href="../../product-category/tesla/index.html" rel="tag">Tesla</a></span>
                                            <span class="tagged_as">Tags: <a href="../../product-tag/black-friday/index.html" rel="tag">black friday</a>, <a href="../../product-tag/sales/index.html" rel="tag">sales</a></span>

                                        </div>


                                    </div><!-- .summary -->
                                </div>
                            </div><!-- .summary -->


                            <div class="col-md-12 tabs-related">



                                <div class="woocommerce-tabs wc-tabs-wrapper">
                                    <ul class="tabs wc-tabs wc-tabs-4" role="tablist">
                                        <li class="description_tab" id="tab-title-description" role="tab" aria-controls="tab-description">
                                            <a href="#tab-description">Description</a>
                                        </li>
                                        <li class="simle_auction_history_tab" id="tab-title-simle_auction_history" role="tab" aria-controls="tab-simle_auction_history">
                                            <a href="#tab-simle_auction_history">Auction history</a>
                                        </li>
                                        <li class="seller_tab" id="tab-title-seller" role="tab" aria-controls="tab-seller">
                                            <a href="#tab-seller">Vendor Info</a>
                                        </li>
                                        <li class="more_seller_product_tab" id="tab-title-more_seller_product" role="tab" aria-controls="tab-more_seller_product">
                                            <a href="#tab-more_seller_product">More from Vendor</a>
                                        </li>
                                    </ul>
                                    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description">

                                        <h2>Description</h2>

                                        <p>@item.Description</p>
                                    </div>
                                    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--simle_auction_history panel entry-content wc-tab" id="tab-simle_auction_history" role="tabpanel" aria-labelledby="tab-title-simle_auction_history">

                                        <h2>Auction History</h2>


                                        <p>Auction has finished</p>
                                        <p>Product sold for buy now price: 
                                        <span>
                                            <span class="woocommerce-Price-amount amount">
                                            <span class="woocommerce-Price-currencySymbol">&#36;</span>
                                            @item.Price</span>
                                            </span>
                                        </p>



                                        <table id="auction-history-table-4450" class="auction-history-table">

                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Bid</th>
                                                    <th>User</th>
                                                    <th>Auto</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Foreach -->
                                                <tr>
                                                    <td class='date'>January 3, 2020 4:33 am</td>
                                                    <td class='bid'>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <span class="woocommerce-Price-currencySymbol">&#36;</span>200.00
                                                        </span>
                                                    </td>
                                                    <td class='username'>Auctioner</td>
                                                    <td class='proxy'></td>
                                                </tr>
                                                <!-- end Foreach -->
                                            </tbody>


                                            <tr class="start">
                                                <td class="date">October 1, 2019 12:00 am</td>
                                                <td colspan="3" class="started">Auction started</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--seller panel entry-content wc-tab" id="tab-seller" role="tabpanel" aria-labelledby="tab-title-seller">

                                        <h2>Vendor Information</h2>

                                        <ul class="list-unstyled">

                                            <li class="store-name">
                                                <span>Store Name:</span>
                                                <span class="details">
                                                    @user.Username
                                                </span>
                                            </li>

                                            <li class="seller-name">
                                                <span>
                                                    Vendor:
                                                </span>

                                                <span class="details">
                                                    <a href="../../store/admin/index.html">@user.Fullname</a>
                                                </span>
                                            </li>
                                            <li class="store-address">
                                                <span><b>Address:</b></span>
                                                <span class="details">
                                                    @user.Address
                                                </span>
                                            </li>

                                            <li class="clearfix">
                                                <span class="seller-rating">
                                                    <span title=" Rated 5.00 out of 5" class="star-rating">
                                                        <span class="width" style="width: 100%"></span>
                                                        <span><strong>5.00</strong></span>
                                                    </span>
                                                </span>
                                                <span class="text">5.00 rating from 1 review</span>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--more_seller_product panel entry-content wc-tab" id="tab-more_seller_product" role="tabpanel" aria-labelledby="tab-title-more_seller_product">
                                        <ul class="products columns-3">
                                            <li class="col-md-4 first post-4473 product type-product status-publish has-post-thumbnail product_cat-audi product_cat-protection-phones product_cat-console-gaming product_cat-data-cables-phones product_cat-mobile-phone-chargers product_cat-mobile-phones product_cat-power-bank product_cat-selfie-stickers product_cat-tablets product_cat-protection-tablets product_tag-black-friday product_tag-sales  instock sold-individually shipping-taxable product-type-auction">
                                                <div class="products-wrapper">



                                                    <div class="thumbnail-and-details">
                                                        <div class="overlay-container">
                                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                                <div class="component add-to-cart"><a href="../vintage-gearbox/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4473" data-product_sku="BF002" aria-label="Read more about &ldquo;Vintage Gearbox&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4473">
                                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                                            <a href="index08c4.html?add_to_wishlist=4473" data-product-id="4473" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                <i class="fa fa-heart-o"></i>
                                                                            </a>
                                                                            <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                            <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                            <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div style="clear:both"></div>
                                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                    </div>

                                                                    <div class="clear"></div>
                                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4473"><i class="fa fa-search"></i></a></div>
                                                            </div>
                                                        </div><a class="woo_catalog_media_images" title="Vintage Gearbox" href="../vintage-gearbox/index.html"><img width="300" height="300" src="../../wp-content/uploads/2018/09/vintage-car3-1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-300x300.jpg 300w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-150x150.jpg 150w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-350x350.jpg 350w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-110x110.jpg 110w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-400x400.jpg 400w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-70x70.jpg 70w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/vintage-car3-1-200x200.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                    </div>

                                                    <div class="woocommerce-title-metas">
                                                        <h3 class="archive-product-title">
                                                            <a href="../vintage-gearbox/index.html">
                                                                Vintage Gearbox
                                                            </a>
                                                        </h3>
                                                        <div class="details-container">
                                                            <div class="details-price-container details-item">
                                                                <div class="product-description" itemprop="description">
                                                                    <p>The Ragdoll is a cat breed with blue eyes and a distinct colorpoint coat. It is a large and muscular semi-longhair cat with a soft and silky coat. Like all long haired cats, Ragdolls need grooming to ensure their fur does not mat.</p>
                                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                                    <div class="component add-to-cart"><a href="../vintage-gearbox/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4473" data-product_sku="BF002" aria-label="Read more about &ldquo;Vintage Gearbox&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4473">
                                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                                <a href="index08c4.html?add_to_wishlist=4473" data-product-id="4473" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                    <i class="fa fa-heart-o"></i>
                                                                                </a>
                                                                                <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                                <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                                <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div style="clear:both"></div>
                                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                        </div>

                                                                        <div class="clear"></div>
                                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4473"><i class="fa fa-search"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div><div class="bottom-components-list">
                                                            <div class="component add-to-cart"><a href="../vintage-gearbox/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4473" data-product_sku="BF002" aria-label="Read more about &ldquo;Vintage Gearbox&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4473">
                                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                                        <a href="index08c4.html?add_to_wishlist=4473" data-product-id="4473" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                        <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                        <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                        <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div style="clear:both"></div>
                                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                </div>

                                                                <div class="clear"></div>
                                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4473"><i class="fa fa-search"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-md-4 last post-4462 product type-product status-publish has-post-thumbnail product_cat-accessories product_cat-bmw product_tag-accessories product_tag-black-friday product_tag-gaming first instock sold-individually shipping-taxable product-type-auction">
                                                <div class="products-wrapper">



                                                    <div class="thumbnail-and-details">
                                                        <div class="overlay-container">
                                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                                <div class="component add-to-cart"><a href="../audi-r8-2008/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4462" data-product_sku="BA003" aria-label="Read more about &ldquo;Audi R8 2008&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4462">
                                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                                            <a href="indexce11.html?add_to_wishlist=4462" data-product-id="4462" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                <i class="fa fa-heart-o"></i>
                                                                            </a>
                                                                            <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                            <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                            <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div style="clear:both"></div>
                                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                    </div>

                                                                    <div class="clear"></div>
                                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4462"><i class="fa fa-search"></i></a></div>
                                                            </div>
                                                        </div><a class="woo_catalog_media_images" title="Audi R8 2008" href="../audi-r8-2008/index.html"><img width="300" height="300" src="../../wp-content/uploads/2018/09/sport-car2-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car2-300x300.jpg 300w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car2-150x150.jpg 150w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car2-350x350.jpg 350w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car2-110x110.jpg 110w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car2-400x400.jpg 400w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car2-70x70.jpg 70w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car2-200x200.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                    </div>

                                                    <div class="woocommerce-title-metas">
                                                        <h3 class="archive-product-title">
                                                            <a href="../audi-r8-2008/index.html">
                                                                Audi R8 2008
                                                            </a>
                                                        </h3>
                                                        <div class="details-container">
                                                            <div class="details-price-container details-item">
                                                                <div class="product-description" itemprop="description">
                                                                    <p>The Ragdoll is a cat breed with blue eyes and a distinct colorpoint coat. It is a large and muscular semi-longhair cat with a soft and silky coat. Like all long haired cats, Ragdolls need grooming to ensure their fur does not mat.</p>
                                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                                    <div class="component add-to-cart"><a href="../audi-r8-2008/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4462" data-product_sku="BA003" aria-label="Read more about &ldquo;Audi R8 2008&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4462">
                                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                                <a href="indexce11.html?add_to_wishlist=4462" data-product-id="4462" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                    <i class="fa fa-heart-o"></i>
                                                                                </a>
                                                                                <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                                <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                                <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div style="clear:both"></div>
                                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                        </div>

                                                                        <div class="clear"></div>
                                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4462"><i class="fa fa-search"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div><div class="bottom-components-list">
                                                            <div class="component add-to-cart"><a href="../audi-r8-2008/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4462" data-product_sku="BA003" aria-label="Read more about &ldquo;Audi R8 2008&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4462">
                                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                                        <a href="indexce11.html?add_to_wishlist=4462" data-product-id="4462" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                        <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                        <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                        <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div style="clear:both"></div>
                                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                </div>

                                                                <div class="clear"></div>
                                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4462"><i class="fa fa-search"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-md-4 post-4461 product type-product status-publish has-post-thumbnail product_cat-bmw product_tag-black-friday product_tag-sales last instock sold-individually shipping-taxable product-type-auction">
                                                <div class="products-wrapper">



                                                    <div class="thumbnail-and-details">
                                                        <div class="overlay-container">
                                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                                <div class="component add-to-cart"><a href="../sccirocco-gt-r4/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4461" data-product_sku="BF012" aria-label="Read more about &ldquo;Sccirocco GT R4&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4461">
                                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                                            <a href="index6a80.html?add_to_wishlist=4461" data-product-id="4461" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                <i class="fa fa-heart-o"></i>
                                                                            </a>
                                                                            <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                            <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                            <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div style="clear:both"></div>
                                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                    </div>

                                                                    <div class="clear"></div>
                                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4461"><i class="fa fa-search"></i></a></div>
                                                            </div>
                                                        </div><a class="woo_catalog_media_images" title="Sccirocco GT R4" href="../sccirocco-gt-r4/index.html"><img width="300" height="300" src="../../wp-content/uploads/2018/09/sport-car1-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car1-300x300.jpg 300w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car1-150x150.jpg 150w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car1-350x350.jpg 350w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car1-110x110.jpg 110w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car1-400x400.jpg 400w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car1-70x70.jpg 70w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car1-200x200.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                    </div>

                                                    <div class="woocommerce-title-metas">
                                                        <h3 class="archive-product-title">
                                                            <a href="../sccirocco-gt-r4/index.html">
                                                                Sccirocco GT R4
                                                            </a>
                                                        </h3>
                                                        <div class="details-container">
                                                            <div class="details-price-container details-item">
                                                                <div class="product-description" itemprop="description">
                                                                    <p>Product galati a reality sandwich before you walk back in that boardroom fire up your browser, so come up with something buzzworthy, for it&#8217;s about managing expectations yet baseline into the weeds.</p>
                                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                                    <div class="component add-to-cart"><a href="../sccirocco-gt-r4/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4461" data-product_sku="BF012" aria-label="Read more about &ldquo;Sccirocco GT R4&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4461">
                                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                                <a href="index6a80.html?add_to_wishlist=4461" data-product-id="4461" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                    <i class="fa fa-heart-o"></i>
                                                                                </a>
                                                                                <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                                <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                                <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div style="clear:both"></div>
                                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                        </div>

                                                                        <div class="clear"></div>
                                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4461"><i class="fa fa-search"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div><div class="bottom-components-list">
                                                            <div class="component add-to-cart"><a href="../sccirocco-gt-r4/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple add_to_cart_button" data-product_id="4461" data-product_sku="BF012" aria-label="Read more about &ldquo;Sccirocco GT R4&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4461">
                                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                                        <a href="index6a80.html?add_to_wishlist=4461" data-product-id="4461" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                        <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                        <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                        <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div style="clear:both"></div>
                                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                </div>

                                                                <div class="clear"></div>
                                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4461"><i class="fa fa-search"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="col-md-4 first post-4458 product type-product status-publish has-post-thumbnail product_cat-bmw product_tag-black-friday product_tag-sales  outofstock featured sold-individually shipping-taxable product-type-auction">
                                                <div class="products-wrapper">



                                                    <div class="thumbnail-and-details">
                                                        <div class="overlay-container">
                                                            <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                                <div class="component add-to-cart"><a href="../nissan-gtr-2000/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4458" data-product_sku="BF013" aria-label="Read more about &ldquo;Nissan GTR 2000&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4458">
                                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                                            <a href="index27cf.html?add_to_wishlist=4458" data-product-id="4458" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                <i class="fa fa-heart-o"></i>
                                                                            </a>
                                                                            <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                            <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                            <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div style="clear:both"></div>
                                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                    </div>

                                                                    <div class="clear"></div>
                                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4458"><i class="fa fa-search"></i></a></div>
                                                            </div>
                                                        </div><a class="woo_catalog_media_images" title="Nissan GTR 2000" href="../nissan-gtr-2000/index.html"><img width="300" height="300" src="../../wp-content/uploads/2018/09/sport-car3-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car3-300x300.jpg 300w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car3-150x150.jpg 150w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car3-350x350.jpg 350w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car3-110x110.jpg 110w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car3-400x400.jpg 400w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car3-70x70.jpg 70w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2018/09/sport-car3-200x200.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                                    </div>

                                                    <div class="woocommerce-title-metas">
                                                        <h3 class="archive-product-title">
                                                            <a href="../nissan-gtr-2000/index.html">
                                                                Nissan GTR 2000
                                                            </a>
                                                        </h3>
                                                        <div class="details-container">
                                                            <div class="details-price-container details-item">
                                                                <div class="product-description" itemprop="description">
                                                                    <p>Product galati a reality sandwich before you walk back in that boardroom fire up your browser, so come up with something buzzworthy, for it&#8217;s about managing expectations yet baseline into the weeds.</p>
                                                                </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                                    <div class="component add-to-cart"><a href="../nissan-gtr-2000/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple" data-product_id="4458" data-product_sku="BF013" aria-label="Read more about &ldquo;Nissan GTR 2000&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4458">
                                                                            <div class="yith-wcwl-add-button show" style="display:block">


                                                                                <a href="index27cf.html?add_to_wishlist=4458" data-product-id="4458" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                    <i class="fa fa-heart-o"></i>
                                                                                </a>
                                                                                <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                                <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                                <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                                    <i class="fa fa-heart"></i>
                                                                                </a>
                                                                            </div>

                                                                            <div style="clear:both"></div>
                                                                            <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                        </div>

                                                                        <div class="clear"></div>
                                                                    </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4458"><i class="fa fa-search"></i></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bottom-components-list">
                                                            <div class="component add-to-cart"><a href="../nissan-gtr-2000/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple" data-product_id="4458" data-product_sku="BF013" aria-label="Read more about &ldquo;Nissan GTR 2000&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4458">
                                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                                        <a href="index27cf.html?add_to_wishlist=4458" data-product-id="4458" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                        <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                        <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                        <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div style="clear:both"></div>
                                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                </div>

                                                                <div class="clear"></div>
                                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4458"><i class="fa fa-search"></i></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <section class="related products">

                                    <h2>Related products</h2>

                                    <ul class="products columns-4">
                                        <!--Foreach here-->
                                        <li class="col-md-3 first post-4451 product type-product status-publish has-post-thumbnail product_cat-tesla product_cat-televisions product_tag-black-friday product_tag-sales  outofstock sold-individually shipping-taxable product-type-auction">
                                            <div class="products-wrapper">



                                                <div class="thumbnail-and-details">
                                                    <div class="overlay-container">
                                                        <div class="thumbnail-overlay"></div><div class="overlay-components">
                                                            <div class="component add-to-cart"><a href="../black-vintage-car/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_auction" data-product_id="4451" data-product_sku="BF014" aria-label="Read more about &ldquo;Black Vintage Car&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4451">
                                                                    <div class="yith-wcwl-add-button show" style="display:block">


                                                                        <a href="index182a.html?add_to_wishlist=4451" data-product-id="4451" data-product-type="auction" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                            <i class="fa fa-heart-o"></i>
                                                                        </a>
                                                                        <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                        <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                        <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                            <i class="fa fa-heart"></i>
                                                                        </a>
                                                                    </div>

                                                                    <div style="clear:both"></div>
                                                                    <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                </div>

                                                                <div class="clear"></div>
                                                            </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4451"><i class="fa fa-search"></i></a></div>
                                                        </div>
                                                    </div><a class="woo_catalog_media_images" title="Black Vintage Car" href="../black-vintage-car/index.html"><img width="300" height="300" src="../../wp-content/uploads/2017/06/jamie-dacus-HPcvR6olL9Y-unsplash-300x300.jpg" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jamie-dacus-HPcvR6olL9Y-unsplash-300x300.jpg 300w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jamie-dacus-HPcvR6olL9Y-unsplash-150x150.jpg 150w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jamie-dacus-HPcvR6olL9Y-unsplash-350x350.jpg 350w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jamie-dacus-HPcvR6olL9Y-unsplash-110x110.jpg 110w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jamie-dacus-HPcvR6olL9Y-unsplash-400x400.jpg 400w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jamie-dacus-HPcvR6olL9Y-unsplash-70x70.jpg 70w, https://ibid.modeltheme.com/automotive/wp-content/uploads/2017/06/jamie-dacus-HPcvR6olL9Y-unsplash-200x200.jpg 200w" sizes="(max-width: 300px) 100vw, 300px" /><img class="woo_secondary_media_image" src="../../wp-content/uploads/2017/06/jonathan-chng-cDUiVsPMxMk-unsplash-400x400.jpg" alt="Black Vintage Car" /></a>
                                                </div>

                                                <div class="woocommerce-title-metas">
                                                    <h3 class="archive-product-title">
                                                        <a href="../black-vintage-car/index.html">
                                                            Black Vintage Car
                                                        </a>
                                                    </h3>
                                                    <div class="details-container">
                                                        <div class="details-price-container details-item">
                                                            <div class="product-description" itemprop="description">
                                                                <p>Product galati a reality sandwich before you walk back in that boardroom fire up your browser, so come up with something buzzworthy, for it&#8217;s about managing expectations yet baseline into the weeds.</p>
                                                            </div>Auction Ended<div class="details-review-container details-item"></div><div class="bottom-components">
                                                                <div class="component add-to-cart"><a href="../black-vintage-car/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple" data-product_id="4451" data-product_sku="BF014" aria-label="Read more about &ldquo;Black Vintage Car&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                                    <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4451">
                                                                        <div class="yith-wcwl-add-button show" style="display:block">


                                                                            <a href="index182a.html?add_to_wishlist=4451" data-product-id="4451" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                                <i class="fa fa-heart-o"></i>
                                                                            </a>
                                                                            <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                            <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                            <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                                <i class="fa fa-heart"></i>
                                                                            </a>
                                                                        </div>

                                                                        <div style="clear:both"></div>
                                                                        <div class="yith-wcwl-wishlistaddresponse"></div>

                                                                    </div>

                                                                    <div class="clear"></div>
                                                                </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4451"><i class="fa fa-search"></i></a></div>
                                                            </div>
                                                        </div>
                                                    </div><div class="bottom-components-list">
                                                        <div class="component add-to-cart"><a href="../black-vintage-car/index.html" data-quantity="1" data-tooltip="View Auction" class="button product_type_simple" data-product_id="4451" data-product_sku="BF014" aria-label="Read more about &ldquo;Black Vintage Car&rdquo;" rel="nofollow"><i class="fa fa-eye"></i></a></div><div class="component wishlist">
                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-4451">
                                                                <div class="yith-wcwl-add-button show" style="display:block">


                                                                    <a href="index182a.html?add_to_wishlist=4451" data-product-id="4451" data-product-type="simple" class="add_to_wishlist single_add_to_wishlist button " data-tooltip="Add to Wishlist">
                                                                        <i class="fa fa-heart-o"></i>
                                                                    </a>
                                                                    <img src="../../wp-admin/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
                                                                </div>

                                                                <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
                                                                    <a href="../../wishlist/index.html" data-toggle="tooltip" data-tooltip="Add to Wishlist Wishlist" data-placement="top" title="Browse Wishlist">
                                                                        <i class="fa fa-heart"></i>
                                                                    </a>
                                                                </div>

                                                                <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
                                                                    <a href="../../wishlist/index.html" data-tooltip="Check Wishlist" class="button">
                                                                        <i class="fa fa-heart"></i>
                                                                    </a>
                                                                </div>

                                                                <div style="clear:both"></div>
                                                                <div class="yith-wcwl-wishlistaddresponse"></div>

                                                            </div>

                                                            <div class="clear"></div>
                                                        </div><div class="component quick-view"><a href="#" class="button yith-wcqv-button" data-tooltip="Quickview" data-product_id="4451"><i class="fa fa-search"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </section>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
